@media print {
    @page {
        size: auto;
        margin: .25in .5in .25in .5in;
    }

    html, body {
        max-width: 8.5in;
        margin: 0in;
        padding: 0in;
        font-size: 10pt;
        font-family: Helvetica, Arial, "DejaVu Sans", sans-serif;
        line-height: 10.5pt;
    }

    h1, h2, h3, dt {
        font-family: "Roboto", Helvetica, Arial, "DejaVu Sans", sans-serif;
    }

    a {
        color: #000000;
        text-decoration: none;
    }

    address {
        float: left;
    }

    dt { text-align: left; }

    li { 
        margin-left: 0in; 
    }
    
    .skill, .award { margin-bottom: 3pt; }

    #digital-contact {
        float: right;
    }
    #digital-contact a {
        float: right;
    }

    #social {
        margin-bottom: 0in;
        vertical-align: middle;
        line-height: 10pt;
    }

    #title {
        margin-top: 0in;
        height: auto;
        border: none;
        box-shadow: none;
        font-size: 20pt;
        line-height: 20pt;
        height: 25pt;
    }

    #title, #resume-header, #resume-content {
        max-width: 100%;
        width: 100%;
        margin: 0in;
        padding: 0in;
    }

    #social .icon { 
        font-size: 20pt; 
        line-height: 10pt;
    }
    #digital-contact .icon { display: none; }

    /** http://nicolasgallagher.com/micro-clearfix-hack/ */

    .contact {
        /**
        * For IE 6/7 only
        * Include this rule to trigger hasLayout and contain floats.
        */
        *zoom: 1;
    }

    /**
    * For modern browsers
    * 1. The space content is one way to avoid an Opera bug when the
    *    contenteditable attribute is included anywhere else in the document.
    *    Otherwise it causes space to appear at the top and bottom of elements
    *    that are clearfixed.
    * 2. The use of `table` rather than `block` is only necessary if using
    *    `:before` to contain the top-margins of child elements.
    */
    .contact:first-of-type:before,
    .contact:last-of-type:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    .contact:last-of-type:after {
        clear: both;
    }

    .no-print, .work li.no-print { display: none; }

    dd.work {
        page-break-inside: avoid;
    }

    .work ul {
        margin: 0in;
        padding: 0in;
    }
    
    .work li {
        display: list-item;
        list-style-type: disc;
        margin-top: 3pt;
        margin-bottom: 3pt;
        margin-left: 15pt;
    }
    .work header { 
        padding: 4pt 0in;
        margin-top: 2pt;
        margin-bottom: 2pt;
    }
    .work, .position-info, .school, .award { position: relative; }
    .work .time { 
        position: absolute; 
        top: 0in;  
        right: 0in;
        text-align: right; 
    }
    .school .time, .award .time {
        position: absolute;
        top: 0in;
        right: 0in;
        text-align: right;
    }

    .award p {
        margin-left: 15pt;
    }
}
